body {
  margin: 0;
  font-family: "Lucida Grande";
}


.head {
  position:relative;
  top:90px;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
}

.top-wrapper {
  padding:180px 0 100px 0;
  background-image: url(https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=freestocks-_3Q3tsJ01nc-unsplash.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  border:2px solid black;
  
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}



.facebook:hover {
  background-color: #3b5998;
  margin-right: 10px;
  box-shadow: 0 5px rgba(6, 81, 151, 0.9);
}
.facebook:active{
  position:relative;
  top: 5px;
  box-shadow:none;
}

.twitter:hover {
  background-color: #55acee;
  margin-right: 10px;
  box-shadow: 0 5px rgba(80, 145, 231, 0.9);

}
.twitter:active{
  position:relative;
  top: 5px;
  box-shadow:none;
}
.google:hover{
  background-color: rgba(211, 47, 18, 0.9);
  margin-right: 10px;
  box-shadow: 0 5px rgba(126, 0, 38, 0.9);
}
.google:active{
  position:relative;
  top: 5px;
  box-shadow:none;
  
}


.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  z-index:10;
  background-color: rgba(17, 18, 19, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
  padding-top:10px;
  padding-left:20;
  font-size:15px;
  color:white;
  
}
header h1 {
  margin-left:20px;
  position:relative;
  top:-20px;
}

header p{
  position:relative;
  top:-40px;
  left:15px;
}




.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

/* Tambahkan CSS untuk lesson */
.lesson {
  float:left;
  width:25%;
  text-align:center;

}
.form-login {
  
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: cursive;
  position:relative;
  top:150px;
  left:92%;
  transform: translate(-50%,-50%);
  padding: 2px 22px;
  width: 300px;
  background-color: rgba(0,0,0,.7);
  border-radius: 50px;
  box-shadow: 5px 10px #888888;
 
}
.p-log{
  margin:10px;
}
input {
  padding:10px;
  border-radius:50px;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.log-in{
  background-color:black;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  margin-bottom:10px;
  
}
.log-in:hover{
  background-color:black;
  padding: 12px 30px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  margin-bottom:10px;
  background-color: rgba(255, 255, 255, 0.3)
  
}

.topnav input {
  width:300px;
  position:relative;
  top:-105px;
  left:180px;
  
}
.topnav input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


.tanda {
  padding-right:40px;
  
}


.lesson-icon{
  margin:10;
  
  
  height:200px;
  background-image:url(https://3.bp.blogspot.com/-6veiorvXI90/WgITbI4zlzI/AAAAAAAAANM/UPIGezTZjkYPGo7pw80QnDW8pxud0SlrwCLcBGAs/s1600/JENIS%2BPAKAIAN%2BWANITA%2B%252B%2BGAMBAR%2BPERNAH%2BDENGAR%2B%2BBLUS%2BHOODIE%2BDAN%2BSEMACAMNNYA.png);
  background-size:cover;
}
.lesson a {
  padding: 12px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  background-color:black;
  
}

.ikon{
  position:relative;
  top:-148px;
  left:110px;
}
.ikon-1{
  float:right;
  position:relative;
  top:-148px;

}

